body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: sans-serif;
  padding: 20px;
}
.main-content
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content
{
  width: 400px;
  height: 600px;
  border: 4px solid black;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
}
textarea, button, input {
  margin-top: 6px;
}
#drop {
  margin-top: 20px;
  padding: 30px;
  border: 2px dashed #38bdf8;
  text-align: center;
  transition: background 0.3s;
}
ul { list-style: none; padding: 0; }
li { margin: 4px 0; }

.elements
{
  display: flex;
  justify-content: center;
  align-items: cente;
  flex-direction: column;
}